<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programmer Fox Club</title>
    <meta charset="utf-8" />
</head>
<body>
    <ul>
        <li><a href="">Information</a></li>
    </ul>
    <img src="greenfox.png" title="Green Fox image" alt="Green Fox image" />
    <p th:text="'This is ' + ${name} + '. Currently living on pizza and lemonade. He knows 2 tricks.'"></p>
    <h1>Known tricks</h1>
    <ul>
        <li>Write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>
